@model IEnumerable<Soccer.Models.Liga>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nLiga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aFundacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.logoLiga)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nLiga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aFundacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.logoLiga)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ligaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ligaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ligaID })
        </td>
    </tr>
}

</table>
